<section class="section-about-us" id="about-us">
  <div class="container">
<div class="wrpapper">
      <div class="about-text">
        <h2 class="about-us-title">Про Меблерію</h2>
        <p class="about-us-text">
          У Меблерії ми прагнемо створювати затишок та функціональність у кожному
          домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
          сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
          інтер'єр починається з правильних меблів.
        </p>
      </div>
      <div class="about-img">
        <picture class="images-people">
          <source
          srcset="/img/about-us/people-1x-pc.png,
          /img/about-us/people-2x-pc.png"
          media="(min-width: 1440px)"
          />
  
          <source
            srcset="
            /img/about-us/people-1x-tab.png,
            /img/about-us/people-2x-tab.png"
            
            media="(min-width: 768px)"
          />
        
          <img
            src="/img/about-us/people-1x-mobile.png"
            srcset="/img/about-us/people-2x-mobile.png"
            alt="About Us image">
        </picture>
</div>
    </div>

  </div>
</section>
