<section class="feedback-section" id="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <p class="comments-descr">
      Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
    </p>

    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper feedback-from-API"></div>
    </div>

    <div class="dots-and-arrows">
      <div class="pagination-dots" id="feedback-dots"></div>

      <div class="arrow-buttons">
        <button class="arrow-btn" id="prev-btn" type="button">
          <svg class="icon" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button class="arrow-btn" id="next-btn" type="button">
          <svg class="icon" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
