<header class="header" data-header>
    <div class="container header-container">
        <a href="./index.html" class="header-logo">
            <svg class="logo-icon" width="158" height="35">
                <use href="img/symbol-defs.svg#icon-logo"></use>
            </svg>
        </a>
        <nav class="header-nav">
            <ul class="header-menu-list">
                <li class="header-menu-item">
                    <a href="#furniture-list" class="header-menu-link">Наші меблі</a>
                </li>
                <li class="header-menu-item">
                    <a href="#about-us" class="header-menu-link">Про нас</a>
                </li>
                <li class="header-menu-item">
                    <a href="#faq" class="header-menu-link">Часті питання</a>
                </li>
                <li class="header-menu-item">
                    <a href="#feedback" class="header-menu-link">Відгуки</a>
                </li>
            </ul>
            <a href="#furniture-list" class="header-buy-button header-buy-button-link">До покупок</a>
        </nav>
        <button type="button" class="burger-btn" data-menu-open>
            <svg class="burger-icon" width="32" height="32">
                <use href="img/symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>
        <button class="close-btn" data-menu-close>
            <svg class="close-icon" width="34" height="34">
                <use href="img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</header>
<div class="mobile-menu" data-menu>
    <div class="mobile-menu-container">
        <div class="content-wrapper">
            <nav class="mobile-menu-nav">
                <ul class="mobile-menu-list">
                    <li class="mobile-menu-item">
                        <a href="#hero" class="mobile-menu-link">Наші меблі</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#about-us" class="mobile-menu-link">Про нас</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#faq" class="mobile-menu-link">Часті питання</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#feedback" class="mobile-menu-link">Відгуки</a>
                    </li>
                </ul>
                <a href="#furniture-list" class="mobile-menu-button mobile-menu-button-link">До покупок</a>
            </nav>
        </div>
    </div>
</div>
<div class="mobile-menu-landscape" data-menu-landscape>
    <div class="mobile-menu-container">
        <div class="content-wrapper">
            <nav class="mobile-menu-nav">
                <ul class="mobile-menu-list">
                    <li class="mobile-menu-item">
                        <a href="#hero" class="mobile-menu-link">Наші меблі</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#about-us" class="mobile-menu-link">Про нас</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#faq" class="mobile-menu-link">Часті питання</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#feedback" class="mobile-menu-link">Відгуки</a>
                    </li>
                </ul>
                <a href="#furniture-list" class="mobile-menu-button mobile-menu-button-link">До покупок</a>
            </nav>
        </div>
    </div>
</div>