<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-container container">
        <h1 class="hero-title">Створіть свій ідеальний дім</h1>
        <p class="hero-text">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </p>
        <button class="hero-btn" onclick="this.blur()">
          Що про нас думають
        </button>
      </div>
    </section>
    <script type="module" src="/js/hero.js"></script>
  </body>
</html>
