

body {
  scroll-behavior: smooth;
  font-family: 'Raleway', Bold;
  background-color: #fff;
  font-size: 18px;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}



@import 'css-star-rating/dist/css/star-rating.min.css';