.modal-furniture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  /* opacity: 0;
  visibility: hidden; */
  /* pointer-events: none; */
  transition: opasity 250ms cubic-bezier(4, 0, 2, 1),
    visibility 250ms cubic-bezier(4, 0, 2, 1);
  background: rgba(0, 0, 0, 0.25);
}

.modal-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  border-radius: 8px;
  padding: 64px 20px;
  width: 335px;
  height: 1155px;
  overflow-y: auto;
  background: #fff;
  box-sizing: border-box;
}

.modal-furniture.is-hidden {
  display: none;
}

.btn-close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  width: 32px;
  height: 32px;
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  opacity: 0.5;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-modal {
  fill: #080c09;
}

.content-modal-form {
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: 510px;
}

.main-image {
  border-radius: 8px;
  width: 295px;
  height: 297px;
}

.thumb-image {
  border-radius: 8px;
  width: 139px;
  height: 197px;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #080c09;
  padding-top: 24px;
}

.type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #080c09;
}

.raty {
  border-radius: 64px;
}

.raty i {
  font-size: 24px; /* або інше значення, якого хочеш */
  width: 16px;
  height: 16px;
}

.colors {
}

.span-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.color-list {
  padding-top: 8px;
  display: flex;
  gap: 8px;
}

.color-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-btn:hover,
.color-btn:focus {
  opacity: 0.5;
}

.color-btn.active {
  border: 4px solid #838584;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
}

.sizes {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #080c09;
  padding-top: 8px;
}

.btn-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 100px;
  border: none;
  padding: 10px;
  width: 295px;
  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6b0609;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover,
.btn-order:focus {
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6b0609;
  opacity: 0.5;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .modal-form-container {
    width: 704px;
  }

  .gallery {
    width: 640px;
    margin: 0 auto;
  }

  .main-image {
    width: 640px;
    height: 297px;
  }

  .thumb-image {
    width: 312px;
    height: 197px;
  }

  .content-modal-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 0px 0px 32px 0px;
    width: 640px;
    height: 1048px;
  }

  .description {
    width: 421px;
    height: 78px;
  }

  .btn-order {
    width: 310px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-form-container {
    padding: 64px;
    width: 1090px;
    height: 649px;
  }

  .content-modal-form {
    width: 962px;
    height: 521px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }

  .gallery {
    width: 580px;
    height: 521px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    margin-right: auto;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .main-image {
    width: 580px;
    height: 308px;
  }

  .thumb-image {
    width: 282px;
    height: 197px;
  }

  .description {
    width: 358px;
    height: 78px;
  }

  .details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-left: auto;
  }

  .name-detalis {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
  }

  .name {
    padding: 0;
    max-width: 358px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .sizes {
    padding-bottom: 8px;
  }
}
