body.no-scroll {
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
}

.header-logo {
  fill: #080c09;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.logo-icon {
  fill: currentColor;
}

.header-nav,
.header-buy-button {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn {
  fill: #080c09;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}

.burger-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu,
.mobile-menu-landscape {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  margin-top: 32px;
}

.mobile-menu.is-open,
.mobile-menu-landscape.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.no-border-bottom {
  border-bottom: none;
}

.mobile-menu-landscape {
  display: none;
}

.mobile-menu-container {
  width: 100%;
  background-color: #fff;
  padding: 19px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.close-btn {
  display: none;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header.is-menu-open .burger-btn {
  display: none;
}

.header.is-menu-open .close-btn {
  display: block;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.mobile-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #080c09;
  text-align: center;
  padding: 5px;
}

.mobile-menu-link,
.mobile-menu-button {
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #6b0609;
}

.mobile-menu-button {
  border-radius: 100px;
  border: none;
  padding: 8px 20px;
  width: 335px;
  height: 42px;
  background-color: #6b0609;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  opacity: 0.5;
}

.mobile-menu-button-link {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header-container {
    max-width: 704px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-icon {
    width: 157px;
    height: 34px;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-landscape {
    display: none;
  }


  @media (orientation: portrait) {
    .header-container {
      padding-left: 32px;
      padding-right: 32px;
  }
    .mobile-menu {
      display: flex;
    }

    .mobile-menu-container {
      width: 249px;
      height: 384px;
      background-color: #fff;
      padding: 19px;
      overflow-y: hidden;
    }

    .mobile-menu-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
    }

    .mobile-menu-list {
      align-items: flex-end;
      gap: 27px;
      margin-bottom: 32px;
    }

    .mobile-menu-item {
      align-items: end;
    }

    .mobile-menu-link {
      text-align: right;
    }

    .mobile-menu-button {
      margin: 0 auto;
      width: 185px;
    }
  }


  @media (orientation: landscape) {
    .header-container {
      padding: 18px 98px;
    }

    .mobile-menu-landscape {
      display: flex;
    }

    .mobile-menu-container {
      width: 298px;
      height: 384px;
      padding: 19px;
      overflow-y: hidden;
    }

    .mobile-menu-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .mobile-menu-list {
      align-items: flex-end;
      gap: 27px;
      margin-bottom: 32px;
    }

    .mobile-menu-item {
      align-items: end;
    }

    .mobile-menu-link {
      text-align: right;
    }

    .mobile-menu-button {
      width: 185px;
    }

    .mobile-menu-nav .mobile-menu-button {
      margin: 0;
      align-self: flex-start;
    }
  }
}

/* Desktop */
@media (min-width: 1440px) {

  .header .burger-btn,
  .mobile-menu,
  .header .close-btn,
  .mobile-menu-landscape {
    display: none;
  }
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .header-menu-list {
    display: flex;
    gap: 27px;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .header-menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #080c09;
    padding: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;

  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #6b0609;
  }

  .header-buy-button {
    display: block;
    margin-left: 30px;
    border-radius: 100px;
    border: none;
    padding: 8px 20px;
    width: 129px;
    height: 42px;
    background-color: #6b0609;
    box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(8, 12, 9, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-buy-button:hover,
  .header-buy-button:focus {
    opacity: 0.5;
  }

  .header-buy-button-link {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }
}