.hero {
  max-width: 100%;
  background-color: #2e2f42;
  background-image: url(../img/bg-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 157.5px;
  padding-bottom: 157.5px;
  text-align: left;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg-mobile-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 24px;
  max-width: 335px;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 32px;
  max-width: 335px;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 10px 87px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6b0609;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  border: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 335px;
}

.hero-btn:hover,
.hero-btn:focus {
  opacity: 0.5;
}

.hero-btn:active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/bg-tablet.jpg);
  }

  .hero-container {
    align-items: flex-start;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .hero-title {
    font-size: 56px;
    max-width: 560px;
  }
  .hero-text {
    font-size: 18px;
    max-width: 560px;
  }
  .hero-btn {
    max-width: 209px;
    padding: 10px 24px;
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/bg-desktop.jpg);
  }

  .hero-container {
    padding-top: 92.65px;
    padding-bottom: 92.65px;
  }
}

@media screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg-desktop-2x.jpg);
  }
}
